.App{
  background-color: rgb(189, 253, 255);
  background-image: url("https://image.shutterstock.com/image-illustration/programming-code-abstract-technology-background-600w-535124956.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}